/* Begin Universal styling */
/* Ensure that main content cannot overlap Navbar */
header {
    z-index: 2;
}

main {
    z-index: 1;
}
/* Navbar styling */
nav {
    background-color: rgb(32, 31, 31);
    padding:env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}


/* Color of name displaying in Navbar */
.navbar-dark .navbar-brand {
    color:  #bb9979;
    font-family: serif;
    font-size: 25px;
}

/* Change nav items to white */
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

/* Change nav item text to red on hover */
.navbar-dark .navbar-nav .nav-link:hover {
    color: red;

}

/* Change nav item of current page to pink/light red */
.navbar-dark .navbar-nav .nav-link.disabled {
    color: #c56262
}

/* Bold nav item of current page to help visual users more clearly understand which page they are on */
.disabled {
    font-weight: 900;
}

/* Allow nav item list to show horizontally rather than vertically to be more vertically economical at lower resolutions*/
.navbar ul {
    padding-left: 15px;
    flex-direction: row;
    justify-content: space-around;
}
/* End Navbar styling */

/* Body styling */
body {
    background-color: #bb9979;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Serif;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}

/* Footer styling */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(32, 31, 31);
}

/* 3rd party social media icon styling */
.fa {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    height: auto;
}

.fa-github {
    background: black;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa:hover {
    opacity: 0.7;
    color:red;
    text-decoration: none;
}
/* End Universal Styling */

/* Begin About Me page styling */
/* Headshot styling */
article img {
    height: 300px;
    width: 225px;
}

/* Bio text size laptop/large screen resolution */
article p {
    font-size: 1.08rem;
    font-weight: 500;
}

.resume-link {
    color: darkred;
    font-weight: 700;
    text-decoration: underline;
}

.resume-link:hover {
    color: black;
    text-decoration: underline;
}
/* End About Me page styling */

/* Begin Portfolio Page styling */
/* Row sizing and positioning */
main .row {
    width: 100%;
}

main section.row {
    padding-bottom: 70px;
}

/* Column header styling */
h5 {
    text-align: center;
}

/* Begin Portfolio Card styling */
.card {
    height: fit-content;
    width: fit-content;
    background-color: black;
    border: none;
    border-radius: 0mm;
    text-align: center;
}

.card img {
    max-height: fit-content;
    max-width: fit-content;
}

.card-body {
    background-color: black;
    text-align: center;
}

.card-text {
    color: white;
    font-weight: 700;
}

.repo-link {
    color: white;
}

.repo-link:hover {
    color: red;
}

/* Remove underline styling when hovering over card text */
figure a:hover {
    text-decoration: none;
}

/* Change card text to red on hover */
figure a p:hover {
    color:red;
}
/* End Portfolio Page Card styling */
/* End Portfolio Page styling */

/* Begin Contact Page form styling */
.form-row {
    padding-bottom: 20px;
}

.form-control {
    text-align: center;
    font-size: large;
}

textarea {
    resize: none;
}
/* End Contact Page form styling


/* About Me and Portfolio page styling on 991px or smaller, reset padding for navbar nav items */
@media screen and (max-width: 991px) {

    /* Make header sticky at smaller resolutions */
    header {
        position: fixed;
        top: 0;
        width: 100%;
    }

    /* Keep body header in view at smaller resolutions */
    div h1 {
        padding-top: 70px;
    }

    /* different styling for bio text on About Me page */
    article p {
        font-size: 1rem;
        margin-left: 5px;
    }

    /* Better nav item spacing at smaller resolutions */
    .navbar ul {
        padding: auto;
    }

    /* Shrink Portfolio cards at small resolutions to prevent distortion */
    .card {
        height: fit-content;
        width: 150px;
    }

    /* Limit max dimensions of card images */
    .card img {
        max-height: 150px;
        max-width: 150px;
    }
}

/* Headshot on About Me Page shrink on 342px or smaller screen*/
@media screen and (max-width: 342px) {
    article img {
        height: 220px;
        width: 145px;
    }
}