/* Navbar styling */
nav {
    background-color: black;
}

.navbar ul {
    flex-direction: row;
    justify-content: space-around;
}

.disabled {
    font-weight: 900;
}
/* End Navbar styling */

/* Body styling */
body {
    background-color: #c4af9b;
    height: 100%;
    margin: 0;
    padding: 0;
}

div h1 {
    font-family: Serif;
    font-weight: 900;
    font-size: 50px;
}

/* Headshot styling */
article img {
    height: 300px;
    width: 225px;
}

/* Bio text size laptop/large screen resolution */
article p {
    font-size: 1.08rem;
    font-weight: 500;
}

/* Footer styling */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}

/* Nav position, page header, and bio text styling on 991px or smaller */
@media screen and (max-width: 991px) {
    header {
        position: fixed;
        top: 0;
        width: 100%;
    }
    div h1 {
        padding-top: 70px;
    }
    article p {
        font-size: 1rem;
        margin-left: 5px;
    }
}

/* Headshot shrink on 342px or smaller screen*/
@media screen and (max-width: 342px) {
    article img {
        height: 220px;
        width: 145px;
    }
}