/* Navbar styling */
nav {
    background-color: black;
}

/* Color of name displaying in Navbar */
.navbar-dark .navbar-brand {
    color:  #c4af9b;
    font-family: serif;
    font-size: 25px;
}

/* Change nav items to white */
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

/* Change nav item of current page to pink/light red */
.navbar-dark .navbar-nav .nav-link.disabled {
    color: #c56262
}

/* Bold nav item of current page to help visual users more clearly understand which page they are on */
.disabled {
    font-weight: 900;
}

/* Allow nav item list to show horizontally rather than vertically to be more vertically economical at lower resolutions*/
.navbar ul {
    padding-left: 15px;
    flex-direction: row;
    justify-content: space-around;
}


/* End Navbar styling */

/* Body styling */
body {
    background-color: #c4af9b;
    height: 100%;
    margin: 0;
    padding: 0;
}

div h1 {
    font-family: Serif;
    font-weight: 900;
    font-size: 50px;
}

/* Headshot styling */
article img {
    height: 300px;
    width: 225px;
}

/* Bio text size laptop/large screen resolution */
article p {
    font-size: 1.08rem;
    font-weight: 500;
}

/* Footer styling */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}

/* Nav position, page header, and bio text styling on 991px or smaller, reset padding for navbar nav items */
@media screen and (max-width: 991px) {
    header {
        position: fixed;
        top: 0;
        width: 100%;
    }
    div h1 {
        padding-top: 70px;
    }
    article p {
        font-size: 1rem;
        margin-left: 5px;
    }
    .navbar ul {
        padding: auto;
    }
}

/* Headshot shrink on 342px or smaller screen*/
@media screen and (max-width: 342px) {
    article img {
        height: 220px;
        width: 145px;
    }
}