/* Begin Universal styling */
/* Navbar styling */
nav {
    background-color: black;
}

/* Color of name displaying in Navbar */
.navbar-dark .navbar-brand {
    color:  #c4af9b;
    font-family: serif;
    font-size: 25px;
}

/* Change nav items to white */
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

/* Change nav item of current page to pink/light red */
.navbar-dark .navbar-nav .nav-link.disabled {
    color: #c56262
}

/* Bold nav item of current page to help visual users more clearly understand which page they are on */
.disabled {
    font-weight: 900;
}

/* Allow nav item list to show horizontally rather than vertically to be more vertically economical at lower resolutions*/
.navbar ul {
    padding-left: 15px;
    flex-direction: row;
    justify-content: space-around;
}
/* End Navbar styling */

/* Body styling */
body {
    background-color: #c4af9b;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Serif;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}

/* Footer styling */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}
/* End Universal Styling */

/* Begin About Me page styling */
/* Headshot styling */
article img {
    height: 300px;
    width: 225px;
}

/* Bio text size laptop/large screen resolution */
article p {
    font-size: 1.08rem;
    font-weight: 500;
}
/* End About Me page styling */

/* Begin Portfolio Page styling */
/* Row sizing and positioning */
main .row {
    width: 100%;
}

main section.row {
    padding-bottom: 70px;
}

/* Column header styling */
h5 {
    text-align: center;
}

/* Begin Portfolio Card styling */
.card {
    height: 220px;
    width: 220px;
    background-color: black;
    border: none;
    border-radius: 0mm;
}

.card img {
    max-height: 220px;
    max-width: 220px;
}

.card-body {
    background-color: black;
    color: white;
    text-align: center;
}

.card-text {
    font-weight: 700;
}
/* End Portfolio Page Card styling */

/* Begin Contact Page form styling */
.form-row {
    padding-bottom: 20px;
}

.form-control {
    text-align: center;
    font-size: large;
}

textarea {
    resize: none;
}
/* End Contact Page form styling


/* About Me and Portfolio page styling on 991px or smaller, reset padding for navbar nav items */
@media screen and (max-width: 991px) {

    /* Make header sticky at smaller resolutions */
    header {
        position: fixed;
        top: 0;
        width: 100%;
    }

    /* Keep body header in view at smaller resolutions */
    div h1 {
        padding-top: 70px;
    }

    /* different styling for bio text on About Me page */
    article p {
        font-size: 1rem;
        margin-left: 5px;
    }

    /* Better nav item spacing at smaller resolutions */
    .navbar ul {
        padding: auto;
    }

    /* Shrink Portfolio cards at small resolutions to prevent distortion */
    .card {
        height: 150px;
        width: 150px;
    }

    /* Limit max dimensions of card images */
    .card img {
        max-height: 150px;
        max-width: 150px;
    }
}

/* Headshot on About Me Page shrink on 342px or smaller screen*/
@media screen and (max-width: 342px) {
    article img {
        height: 220px;
        width: 145px;
    }
}